# Dependencies
node_modules/
.pnp
.pnp.js

# Build artifacts
dist/
build/
android/app/build/
android/.gradle/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
